/dts-v1/;
#include <nordic/nrf52811_qfaa.dtsi>

/ {
	model = "BLEsensors";
	compatible = "nordic,nrf52811";

	chosen {
		// zephyr,console = &uart0;
		// zephyr,shell-uart = &uart0;
		// zephyr,uart-mcumgr = &uart0;
		// zephyr,bt-mon-uart = &uart0;
		// zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
			label = "Red LED 0";
		};
	};

	buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 0";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		sw0 = &button0;
	};
};

// &clock {
// 	status = "okay";
// 	lfclk {
// 		source = "LFRC";
// 		cal-enabled = <1>;
// 	};
// };

&reg {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&uicr {
	gpio-as-nreset;
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 28)>;
        };
    };
    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 28)>;
            low-power-enable;
        };
    };
};

&i2c0 {
    status = "okay";
	pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>;  /* 100 kHz */

    /* HDC2080 temperature & humidity sensor */
    hdc2080@40 {
		status = "okay";
        compatible = "ti,hdc2080";
        reg = <0x40>;
        int-gpios = <&gpio0 25 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        label = "HDC2080";
		zephyr,deferred-init;
    };

    /* RV-3028-C7 real-time clock */
    rv3028@52 {
		status = "okay";
        compatible = "microcrystal,rv3028";
        reg = <0x52>;
        int-gpios = <&gpio0 30 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        label = "RV3028";
		backup-switch-mode = "disabled";
		trickle-resistor-ohms = <15000>;
		zephyr,deferred-init;
    };
};


&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0xc000>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0xe000>;
		};

		slot1_partition: partition@1a000 {
			label = "image-1";
			reg = <0x0001a000 0xe000>;
		};

		storage_partition: partition@28000 {
			label = "storage";
			reg = <0x00028000 0x00008000>;
		};
	};
};
